<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--控制台输出log-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy/MM/dd-HH:mm:ss}] [%thread] [%-5level] [%logger] : %msg%n</pattern>
            <!--编码-->
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--文件存储-->
    <appender name="fileStore" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <File>logs/graduation.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--分日期存储，最多保存30天，每个文件最大10M-->
            <fileNamePattern>logs/graduation.%d.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!--输出的内容格式-->
        <encoder>
            <pattern>[%d{yyyy/MM/dd-HH:mm:ss}] [%thread] [%-5level] [%logger] : %msg%n</pattern>
            <!--编码-->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.nilbrains.graduation" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="fileStore"/>
    </logger>

    <!-- 控制台输出日志级别 -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>